.page-header{
  margin: 0;
  font:600 0.7em/15px "proxima-nova-alt",Helvetica,Arial,sans-serif;
  color: #6b18e5;
  .Regis{
    font-size: 28px;
    padding-left: 19.75em;
  }
  .type{
    padding-left: .18em;
  }

  .nav-bar{
    max-width: 100%;

  }
}
