.container {
  height: 20em;
  width: 100%;
  padding: 1em;
  color: white;
  float: left;
  &:hover{
   background: #6b18e5;
  }
  .category{
    margin: 0;
    padding-left: 1em;
    line-height: 30px;
  }
  h1{
    margin: 0;
    padding-left: 14.5px;
    font-size: 22px;
  }
  img{
    z-index: -10;
    max-width: none;
    max-height: none;
  }
  &.block-large{
    height: 37em;
    width: 65%;
  }
  &.block-vert{
    float: right;
    width: 35%;
    height: 18.5em;
  }
  &.block-Medium{
    float: right;
    width: 35%;
    height: 37em;
  }
  &.block-small{
    width: 32.5%;
    height: 17em;
  }
  &.block-bowl{
    float: right;
    width: 35%;
    height: 17em;
  }
}
