.container {
  width: 32%;
  height: 20em;
  padding: 1em;
  color: white;
  float: left;
  &:hover{
   background: #6b18e5;
  }
  .category{
    margin: 0;
    padding-left: 1em;
    line-height: 30px;
  }
  h1{
    margin: 0;
    padding-left: 14.5px;
    font-size: 22px;
  }
  img{
    z-index: -10;
    max-width: none;
  }
  &.block-large{
    width: 729px;
    height: 517px;
  }
  &.block-vert{
    width:
    height:
  }
  &.block-Medium{
    width:
    height:
  }
  &.block-small{
    width:
    height:
  }
  &.block-bowl{
    width:
    height:
  }
}
