.main-nav{
  float: right;
  font:600 0.7em/15px "proxima-nova-alt",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;

  h2 {
    @include visuallyhidden;
  }

ul{
  @include clearfix;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  float: left;
  padding: 0 0.5em;
  border-bottom: 0.4em solid transparent;
  &:hover{
    border-bottom: 0.4em solid $black;
  }
}

a {
  color: #6b18e5;
  text-decoration: none;
  padding: 0.5em 0em;
  display: inline-block;
}
}
