.social-nav{
  color: #6b18e5;
  padding:0;
  margin:0;
}

.p{
  align: left;
}

social-nav ul li{
  float:right;
  list-style:none;
  line-height:15px;
  padding-right:0.75em
}

footer #footer-container{
  padding:0.5em 1.25em 0.5em 1.25em
}
