/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: "franklin-gothic-urw", sans-serif;
  color: #333;
  max-width: 100em;
  margin: 4em;
  padding: 0 2em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #333;
  padding: 0.2em 0;
}

img {
  max-width: 100%;
}

.article-block {
  content: "";
  display: table;
  clear: both;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.container {
  height: 20em;
  width: 100%;
  padding: 1em;
  color: white;
  float: left;
}
.container:hover {
  background: #6b18e5;
}
.container .category {
  margin: 0;
  padding-left: 1em;
  line-height: 30px;
  font-size: 1.25em;
}
.container h1 {
  margin: 0;
  padding-left: 14.5px;
  font-size: 2.35em;
}
.container img {
  z-index: -10;
  max-width: none;
  max-height: none;
}
.container.block-large {
  height: 37em;
  width: 65%;
}
.container.block-vert {
  float: right;
  width: 35%;
  height: 18.5em;
}
.container.block-Medium {
  float: right;
  width: 35%;
  height: 37em;
}
.container.block-small {
  width: 32.5%;
  height: 17em;
}
.container.block-bowl {
  float: right;
  width: 35%;
  height: 17em;
}

.page-header {
  font: 600 0.7em/15px "proxima-nova-alt",Helvetica,Arial,sans-serif;
  color: #6b18e5;
}
.page-header .Regis {
  font-size: 28px;
  padding-left: 18.75em;
}
.page-header .type {
  padding-left: .17em;
}

.css-module {
  margin-bottom: 3em;
}
.css-module > h2 {
  padding: 1em;
  font-family: monospace;
  background-color: #eee;
}
.css-module .sample-image {
  zoom: 0.5;
  display: block;
  border: 1px solid #eee;
}

.category-blue {
  background: linear-gradient(#0AF5FD, transparent);
}
.category-bluehover {
  background: #0AF5FD;
}

.category-red {
  background: linear-gradient(#E62620, transparent);
}
.category-redhover {
  background: #E62620;
}

.category-pink {
  background: linear-gradient(#EA0094, transparent);
}
.category-pinkhover {
  background: #EA0094;
}

.category-green {
  background: linear-gradient(#00EA90, transparent);
}
.category-greenhover {
  background: #00EA90;
}

.category-yellow {
  background: linear-gradient(#D5DC00, transparent);
}
.category-yellowhover {
  background: #D5DC00;
}

.category-purple {
  background: linear-gradient(#D43BEF, transparent);
}
.category-purplehover {
  background: #D43BEF;
}

.main-nav {
  float: right;
  font: 600 0.7em/15px "proxima-nova-alt",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
}
.main-nav h2 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.main-nav ul {
  content: "";
  display: table;
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav li {
  float: left;
  padding: 0 0.5em;
  border-bottom: 0.4em solid transparent;
}
.main-nav li:hover {
  border-bottom: 0.4em solid #333;
}
.main-nav a {
  color: #6b18e5;
  text-decoration: none;
  padding: 0.5em 0em;
  display: inline-block;
}

.page-footer p {
  font-size: 0.8em;
}

header {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  position: relative;
  margin-bottom: 2em;
}
header .utility-logo-group {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
header .header-utilities {
  float: left;
}
header .logo-mcad {
  float: right;
}
header .main-nav {
  float: right;
}

.social-media ul {
  content: "";
  display: table;
  clear: both;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style-type: none;
}
.social-media li {
  float: left;
  margin-right: 1em;
  border-bottom: 0.4em solid transparent;
}
.social-media a {
  display: inline-block;
  color: #6b18e5;
}
.social-media p {
  font: 600 0.7em/15px "proxima-nova-alt",Helvetica,Arial,sans-serif;
  clear: both;
  display: block;
  float: right;
  color: #6b18e5;
}

.header-utilities {
  content: "";
  display: table;
  clear: both;
  margin: 0;
  padding: 0.25em;
  list-style-type: none;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1;
}
.header-utilities li {
  float: left;
  width: 6em;
  margin-right: 2.5em;
  border-left: 1px solid #333;
  padding: 0.25em .5em;
  opacity: 0.4;
}
.header-utilities li:hover {
  opacity: 1;
}
.header-utilities .line {
  display: block;
}
.header-utilities .brochure {
  background: url("../images/sdo_broch.png") no-repeat right;
  width: 8em;
}
.header-utilities a {
  color: #333;
  text-decoration: none;
}
